.green,
.red,
.shareBox {
  display: inline-flex;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  margin-left: 3%;
  --box-shadow: 10px 2px 19px 6px rgba(0, 0, 0, 0.534);

  vertical-align: middle;
}
.Cred {
  color: #cf1515;
}
.green {
  background: linear-gradient(
    180deg,
    rgba(61, 177, 42, 0),
    rgba(61, 177, 42, 0.5112) 62.5%,
    rgba(61, 177, 42, 0.181223) 94.79%
  );
  -webkit-filter: drop-shadow(0 4px 4px rgba(61, 177, 42, 0.38));
  filter: drop-shadow(0 4px 4px rgba(61, 177, 42, 0.38));
}
.NameBox {
  transition: width 0.6s;
  width: 30%;
  z-index: 3;
  background-color: #000;
}
.infoText,
.NameBox {
  position: relative;
  border-radius: 20px;
  text-align: center;
}
.infoText {
  justify-content: center;
  align-items: center;
  float: right;
  width: 250px;
  height: auto;
  background: #000;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  display: inline-flex;
}
.symName {
  margin-top: 4px;
  text-align: center;
  width: auto;
  color: #fff;
  overflow: hidden;
  font-size: 15px;
}
.txtPrice {
  font-weight: 700;
  font-size: 15px;
  margin-right: 10px;
  color: #f5f5f5c5;
}
.Cgreen,
.Cred {
  font-size: 13px;
}
.Cgreen {
  color: #15af15;
}
.red {
  background: linear-gradient(
    180deg,
    rgba(222, 27, 27, 0),
    rgba(222, 27, 27, 0.0552) 42.71%,
    rgba(222, 27, 27, 0.032) 70.83%,
    rgba(222, 27, 27, 0.08)
  );
  -webkit-filter: drop-shadow(0 4px 4px rgba(222, 27, 27, 0.38));
  filter: drop-shadow(0 4px 4px rgba(222, 27, 27, 0.38));
}
.moreinfo,
.moreinfo on {
  position: absolute;
  width: 300px;
  z-index: 5;
  height: 0px;
  background-color: rgb(0 0 0 / 92%);
  border-radius: 5px;
  margin-left: 0.6em;
  margin-bottom: 1.5%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.moreinfo.on {
  height: 100px;
}
