.Show {
  margin: 2%;
  margin-top: 0.2%;
  float: right;
  width: 96%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  display: block;
}
.winners {
  display: flex;
  flex-wrap: wrap;
}
.losers {
  display: flex;
  flex-wrap: wrap;
}
.titleLosers,
.titleWinners {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  border-radius: 30px;
  width: 100%;
}

.titleWinners {
  background-color: rgba(43, 180, 43, 0.562);
}
.titleLosers {
  background-color: rgba(197, 54, 54, 0.541);
}
