.Show {
  margin: 2%;
  margin-top: 0.2%;
  float: right;
  width: 96%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  display: block;
}
.winners,
.losers {
  display: flex;
  flex-wrap: wrap;
  
}

.titleLosers,
.titleWinners {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  border-radius: 30px;
  width: 100%;

  border: 0.1px solid rgb(109, 108, 108);
}

.titleWinners {
  color: rgba(0, 128, 0, 0.596);
}
.titleLosers {
  color: rgba(255, 0, 0, 0.644);
}
@media screen and (max-width: 425px) {
  .winners,
  .losers { justify-content: center;}
}