:root {
  --herderSize:5em;
  --sectionSize: 7em;
  --cardSize:20%;
  --bgContainer: #001B34;
  --radius:5px;
  --margin:0.2em 0.1em;
}
.table-container{
  width: 90%;
  height: auto;
  background-color:#38343494;
  margin: 5%;
  display:flex;
  min-width: 534px;
}

.table-Header{
  height: 20%;
  width: 100%;
  border:1px solid pink
}
.key-container{
  margin-top:  var(--herderSize) !important;
  height: 78%;
  width: 15%;
  bottom:0;
  margin:var(--margin);
}
.key-section{
  width: 100%;
  height: var(--sectionSize);
  background-color: var(--bgContainer);
  border-radius: var(--radius);
  display: inline-flex;
  min-width: 100px;
}
.key-section[name="profitable"]
{
  margin-top: 0.6em;
}
.ratio-label-container{
  width: 100%;
  text-align: center;
  height: 100%;
  display: grid;
  align-items: center;
}
.key-label{

  background-color: #00030652;
  text-orientation: sideways;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  font-size:0.9rem;
  text-align: center;
  height:100%;
  
}
.ratio-label{
  font-size:0.75em;
  position: relative;
  width: 100%;
  text-align: center;
  height: 10rem;
  display: contents;
}
label{
  margin:0px;
}
.stock-card-container{
  height: 100%;
  width: var(--cardSize);
  margin:var(--margin);
}
.card-name{
  height: var(--herderSize);
  border-radius: 5px;
  background-color: var(--bgContainer);
  margin:var(--margin);
  text-align: center;
}
.card-section{
  height: var(--sectionSize);
  background-color: var(--bgContainer);
  border-radius: var(--radius);
  margin:var(--margin);
  text-align: center;
  display: grid;
  align-items: center;
}
.card-search{
  height: 100%;
  width: var(--cardSize);
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid var(--bgContainer);
  border-radius: var(--radius);
  margin:var(--margin);
}
.new-container{
  width: 20%;
  min-width: 140px;
}
.opt-label{
  color: white;
  width: 100%;
  text-align: right;
  margin: 10px;
  font-size: 0.65rem;
}
.opt-label-container:hover{
  background-color:var(--bgContainer);
  border-radius: 10px;
}

.new-input{
  position: relative;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.459);
  border:none;
  border-radius: 7px;
  padding:5px;
  color: rgba(255, 255, 255, 0.486)
}
.new-card-opt{
  width: 40%;
  height: 104px;
  border: 1px solid grey;
  border-radius: 7px;
  display: none;

  position: absolute;
}
.new-list-item{
  height: 20px;
}
select{
  background-color: rgba(196, 191, 191, 0.397);
  color: white;
  border-radius: 15px;
}
option{
  background-color: rgb(176, 176, 184);
  color:black;
  border:none;
}
.chart{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:425px)
{
  .card-search{
    margin-left: 58px;
  }
}
.popup{
  background-color: rgb(5, 65, 88);
  width: 25%;
  height: auto;
  position: absolute;
  margin-top: -8%;
  margin-left:12%;
  border-radius: 15px 15px 15px 15px;
  display: none;
  padding:10px;
  border: 1px white solid;
  z-index: 2;
}
.popup.pop,.blank_lock.pop{
  display: block;
  
}
div[name="label-ratio-legend"]:hover{
background-color: #004381;

}
.ratio-info{
  color:white;
  font-size: 1.4rem;
  text-align: justify;
}
.blank_lock{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top:0;
  left: 0;
  display: none;
}
@media screen and (max-width:425px)
{
  .popup{
    width: 90%;
    height: auto;
    left: 0
  }
  .key-section{

    min-width: 82px;
  }
  .table-container{
   
    min-width: 534px;
  }
}