:root {
  --border: 0.01rem solid rgba(10, 14, 228, 0.664);
  --bg: #f8f7f7;
  --bgBits: rgba(173, 173, 179, 0.212);
  --letraCor: #fffbfb;
}
.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: var(--letraCor);
  display: block;
  width: 100rem;
  height: auto;
  padding: 5px;
}
.info,
.KeyR,
.KeyRleg,
.selectedRow,
.selectedRowLeg {
  height: 20px;
  text-align: center;
  width: 100%;
  margin: 3px;
  font-size: 0.8em;
}
.TopInfo,
.back {
  display: inline-flex;
  height: 50px;
  text-align: center;
  background-color: #262626;
}

.stockName,
.TopInfo,
.back {
  height: 50px;
  text-align: center;
  background-color: #4b4848;
}
.stockName,
.TopInfo {
  width: 100%;
  padding-bottom: 5px;
}
.VerticalLegend {
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  height: auto;
  padding: 6px;
}
.sideLegend,
.VerticalLegend {
  text-align: center;
  vertical-align: middle;
}
.infoBlock {
  width: 100%;
  display: block;
}
.KeyRatioLegend {
  margin: 3px;
  width: 100%;
  display: inline-flex;
}
.info,
.KeyR,
.KeyRleg,
.selectedRow,
.selectedRowLeg {
  height: 20px;
  text-align: center;
  width: 100%;
  margin: 3px;
  font-size: 0.8em;
}
.KeyR {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #262626;
}
.KeyBlock {
  display: inline-flex;
  height: auto;
  width: 100%;
  background-color: rgba(47, 44, 44, 0.952);
  color: #fffbfb;
  color: var(--letraCor);
}

.side {
  background-color: #262626;
}
