:root {
  --herderSize:5em;
  --sectionSize: 7em;
  --cardSize:20%;
  --bgContainer: #001B34;
  --radius:5px;
  --margin:0.2em 0.1em;
}
.table-container{
  position: absolute;
  width: 90%;
  height: 50%;
  background-color:#38343494;
  margin: 5%;
  display:flex;
}

.table-Header{
  height: 20%;
  width: 100%;
  border:1px solid pink
}
.key-container{
  margin-top:  var(--herderSize) !important;
  height: 78%;
  width: 15%;
  bottom:0;
  margin:var(--margin);
}
.key-section{
  width: 100%;
  height: var(--sectionSize);
  background-color: var(--bgContainer);
  border-radius: var(--radius);
  display: inline-flex;
}
.key-section[name="profitable"]
{
  margin-top: 0.6em;
}
.ratio-label-container{
  width: 100%;
}
.key-label{
  text-orientation: sideways;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  font-size:15px;
  text-align: center;
  height:100%;
  
}
.ratio-label{
  position: relative;
  width: 100%;
  text-align: center;
  margin:0px;
}
label{
  margin:0px;
}
.stock-card-container{
  height: 100%;
  width: var(--cardSize);
  margin:var(--margin);
}
.card-name{
  height: var(--herderSize);
  border-radius: 5px;
  background-color: var(--bgContainer);
  margin:var(--margin);
  text-align: center;
}
.card-section{
  height: var(--sectionSize);
  background-color: var(--bgContainer);
  border-radius: var(--radius);
  margin:var(--margin);
}
.card-search{
  height: 100%;
  width: var(--cardSize);
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid var(--bgContainer);
  border-radius: var(--radius);
  margin:var(--margin);
}
.new-container{
  width: 90%;
}
.new-input{
  position: relative;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.459);
  border:none;
  border-radius: 7px;
  padding:5px;
  color: rgba(255, 255, 255, 0.486)
}
.new-card-opt{
  width: 90%;
  height: 104px;
  border: 1px solid grey;
  border-radius: 7px;
  display: none;
}