header#main-header {
  width: 100%;
  height: 20px;

  background: linear-gradient(0deg, #da552f 65%, rgba(228, 120, 70, 0.712) 94%);

  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 100px 100px;
}
.headerContain {
  width: 100%;
  display: inline-flex;
}
.loginICO {
  position: absolute;
  right: 2%;
}
.lico {
  height: 18px;
  padding-bottom: 2px;
  transition: 0.3s;
}
.lico:hover {
  width: 20px;
  height: 20px;
  right: 1%;
}
