@font-face {
  font-family: "kerox";
  src: url("../../font/Kerox-NonCommercial.otf");
}
header#main-header {
  width: 100%;
  height: auto;
  margin-top: 0vh;
  background-color: black;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 200px 200px;
  box-shadow: inset 0px 0px 10px rgb(118, 187, 211);
  padding: 0px;
}
.headerContain {
  width: 100%;
  display: inline-flex;
}
.loginICO {
  position: absolute;
  right: 2%;
}
.lico {
  height: 18px;
  padding-bottom: 2px;
  transition: 0.3s;
}
.lico:hover {
  width: 20px;
  height: 20px;
  right: 1%;
}
#logo {
  height: 40px;
}
#logotxt {
  font-family: "kerox";
  font-size: 30px;
  margin-top: 9px;
  margin-left: 10px;
  letter-spacing: 10px;

  background: linear-gradient(
    90deg,
    rgb(118, 187, 211) 35%,
    rgba(105, 156, 171, 1) 59%,
    rgba(252, 252, 252, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
