#searchBar {
  width: 100%;
  height: 20px;
  background: rgba(160, 158, 158, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputT,
#searchBtn {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  border: 1px rgb(204, 186, 186) solid;
  background-color: rgba(190, 190, 190, 0.747);
  color: rgb(107, 107, 107);
  border: none;
}
.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
#formSearch {
  padding-top: 10px;
  vertical-align: middle;
  display: flex;
  width: 40%;
  height: 45px;
  justify-content: center;
  min-width: 260px;
}
#settings {
  position: absolute;
  right: 10px;
}
#ico {
  vertical-align: middle;
  width: 22px;
  height: 20px;
}
select {
  height: 30px;
}
#searchList {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.514);
  width: 40%;
  height: auto;
  color: white;
  border-radius: 20px;
  z-index: 4;
  overflow-y: hidden;
  margin-top: 150px;
}
#searchBtn {
  float: right;
  border-radius: 0px 10px 10px 00px;
  width: 20%;
  height: 30px;
}

#searchBtn:hover {
  border: 1px solid #da552f;
}
#serchDiv {
  width: 70%;
}
#search-opt {
  height: 130px;
  background-color: rgba(0, 0, 0, 0.849);
  border-radius: 10px;
  display: none;
  padding: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.opt-stock {
  width: 100%;
  height: 25px;
  color: white;
  display: inline-flex;
  z-index: 1;
  position: relative;
}
.opt-stock:hover {
  box-shadow: inset 0px 0px 10px rgb(118, 187, 211);
}
.opt-text[name="sym"] {
  width: 20%;
}
.opt-text[name="name"] {
  width: 90%;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
}
.HamMenu {
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  margin-top: 5px;
  margin-left: 1%;
  cursor: pointer;
}
.optHamMenu {
  width: 45px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
}
.HamMenu:hover .optHamMenu {
  background-color: rgb(116, 204, 211);
}
#blank-click{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
}