#searchBar {
  width: 100%;
  height: 20px;
  background: rgba(160, 158, 158, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputT,
#searchBtn {
  float: left;
  border-radius: 10px 0px 0px 10px;
  width: 70%;
  height: 30px;
  padding-left: 0.9em;
  border: 1px rgb(204, 186, 186) solid;
  background-color: rgba(190, 190, 190, 0.747);
  color: rgb(107, 107, 107);
  border: none;
}
.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding-top: 10px;
  vertical-align: middle;
  display: inline-flex;
  width: 540px;
  height: 45px;
}
#settings {
  position: absolute;
  right: 10px;
}
#ico {
  vertical-align: middle;
  width: 22px;
  height: 20px;
}
select {
  height: 30px;
}
#searchList {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.514);
  width: 40%;
  height: auto;
  color: white;
  border-radius: 20px;
  z-index: 4;
  overflow-y: hidden;
  margin-top: 150px;
}
#searchBtn {
  float: right;
  border-radius: 0px 10px 10px 00px;
  width: 70px;
  height: 30px;
}

#searchBtn:hover {
  border: 1px solid #da552f;
}
